body{
  background-color: dodgerblue;
}

.App {
  text-align: center;
}

h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 6px;
  color: gold;
  text-shadow: 0px 0px 3px black;
  font-style: italic;
}

#swapi-form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

input, select{
  padding: 5px;
  border-radius: 5px;
}

select{
  cursor: pointer;
}

input[type = submit]{
  background-color: goldenrod;
  border: 1px solid gray;
  box-shadow: 1px 1px 1px black;
  cursor: pointer;
}

input[type = submit]:hover{
  background-color: darkgoldenrod;
}